* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --slider-background: #f1f1f1;
  --header-background: #2e2e2e;
  --9fGrey: #9f9f9f;
  --generic-blue: #0099ff;
  --title-colour: #333333;
  --footer-background: #1a1a1a;
}

.title {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  width: 960px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.header-section {
  width: auto;
  background-color: var(--header-background);
}

.page-menu-section {
  background-color: white;
  height: auto;
}

.slider-section {
  height: 465px;
  background-color: var(--slider-background);
}

.middle-section {
  height: 666px;
  background-color: white;
}

.footer-section {
  height: 390px;
  background-color: var(--footer-background);
}

.copyright-section {
  height: 60px;
  background-color: #222222;
  border-top: 1px solid #2d2d2d;
}

/* end of section style */

/* header style */

.header-flex {
  display: flex;
  width: 100%;
}

.header-left-flex {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.header-right-flex {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.header-left-flex-button {
  color: var(--9fGrey);
  background-color: transparent;
  border: none;
  font-size: 14px;
}

.header-left-flex-line {
  color: var(--9fGrey);
  margin-left: 5px;
  margin-right: 5px;
}

.header-right-flex-image {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #787878;
  border-radius: 50%;
  margin: 5px;
  margin-top: 14px;
  margin-bottom: 14px;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

.header-right-flex-image:hover {
  background-color: #db4a39;
}

/* page menu style */

.page-menu-flex {
  display: flex;
  margin-top: 40px;
}

.page-menu-flex-text {
  margin-left: 10px;
  margin-right: 10px;
  color: var(--header-background);
  font-size: 14px;
}

.page-menu-flex-text-underline {
  height: 5px;
  width: 100%;
  background-color: transparent;
  transition: 0.25s;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.page-menu-underline {
  width: 100%;
  background-color: var(--slider-background);
  height: 5px;
  position: relative;
  margin-top: -5px;
  z-index: 0;
}

.page-menu-flex-text:hover .page-menu-flex-text-underline {
  background: var(--generic-blue);
}
.page-menu-flex-text:hover {
  color: var(--9fGrey);
}

.page-menu-title-flex {
  width: auto;
  height: auto;
}

.page-menu-title {
  color: var(--title-colour);
  font-size: 36px;
  margin-top: 45px;
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.page-menu-subtitle {
  font-size: 12px;
  color: #999999;
  margin-bottom: 45px;
}

.page-menu-searchbar-flex {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.page-menu-search-bar {
  background-color: var(--slider-background);
  width: 215px;
  height: 100%;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  padding-left: 7px;
}

.page-menu-search-button {
  padding: 10px;
  background-color: var(--generic-blue);
  color: white;
  font-size: 12px;
  margin-left: 6px;
  border-radius: 8px;
  border: none;
}

/* slider style */

.slider-left-flex {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}

.slider-left-header {
  font-size: 36px;
  color: var(--title-colour);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: auto;
}

.slider-left-body {
  font-size: 16px;
  color: #666666;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1;
}

.slider-left-button {
  background-color: var(--generic-blue);
  font-size: 16px;
  padding: 10px;
  color: white;
  border-radius: 8px;
  border: none;
  margin-bottom: auto;
}

.slider-right-image {
  background-color: var(--header-background);
  width: 550px;
  height: 440px;
  margin-top: 15px;
  margin-left: auto;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 22px;
}

/* middle section style */

.middle-section-left-image {
  margin-top: 20px;
}

.middle-section-right-flex {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 430px;
  margin-left: auto;
  margin-top: 40px;
}

.middle-section-right-item {
  height: 215px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.middle-section-right-item-image {
  width: 85px;
  height: 80px;
  background-color: var(--header-background);
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.middle-section-right-item-title {
  color: var(--generic-blue);
  font-size: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.middle-section-right-item-body {
  color: var(--9fGrey);
  font-size: 14px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.middle-section-contact {
  height: 120px;
  background-color: #e0e0e0;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.middle-section-contact-left-line {
  height: 120px;
  margin: 0;
  background-color: #0099ff;
  width: 10px;
}

.middle-section-contact-text {
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.middle-section-contact-title {
  font-size: 36px;
  color: var(--title-colour);
}

.middle-section-contact-body {
  font-size: 18px;
  color: var(--title-colour);
}

.middle-section-contact-button {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 12px;
  padding-left: 12px;
  background-color: var(--generic-blue);
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 38px;
  border: none;
  border-radius: 10px;
  height: min-content;
  font-size: 26px;
}

/* footer style section */

.footer-quadrant {
  height: 305px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 40px;
  width: 23%;
  display: flex;
  flex-wrap: wrap;
}

.footer-quadrant-title {
  color: white;
  font-size: 12px;
}

.footer-quadrant1-image {
  width: 215px;
  height: 90px;
  border: 2px solid #555555;
  color: white;
  background-color: #232323;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.footer-quadrant1-body {
  color: #666666;
  font-size: 12px;
  line-height: 1.6;
}

.footer-quadrant1-readmore-button {
  margin-left: auto;
  margin-top: auto;
  color: var(--generic-blue);
  font-size: 12px;
  background: transparent;
  border: none;
}

.footer-quadrant2-links {
  display: flex;
  flex-wrap: wrap;
}

.footer-quadrant2-links-text {
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
}

.footer-quadrant2-link-arrow {
  color: #989898;
}

.footer-quadrant2-link-line {
  width: 100%;
  height: 1px;
  background-color: #232323;
}

.footer-quadrant2-link {
  color: var(--generic-blue);
  font-size: 12px;
  margin: 3px;
  width: 100%;
  margin-left: 10px;
}

.footer-quadrant3-half {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 40%;
  margin-top: 10px;
}

.footer-quadrant3-half-text {
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.footer-quadrant3-half-title {
  font-size: 14px;
  color: #666666;
}

.footer-quadrant3-half-subtitle {
  color: #666666;
  font-size: 10px;
  width: 50%;
  margin-bottom: auto;
}

.footer-quadrant3-half-body {
  color: #666666;
  font-size: 12px;
  margin-top: auto;
}

.footer-quadrant4-text-box {
  background-color: var(--header-background);
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  color: white;
}

.footer-quadrant4-text-box::placeholder {
  color: #989898;
}

.footer-quadrant4-message-text-box {
  background-color: var(--header-background);
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  height: 110px;
  text-align: start;
  resize: none;
  padding: 9px;
  color: white;
}

.footer-quadrant4-message-text-box::placeholder {
  color: #989898;
}

.footer-quadrant4-submit-button {
  padding: 10px;
  background-color: var(--generic-blue);
  font-size: 12px;
  border-radius: 5px;
  color: white;
}

/* copyright secton style */

.copyright-section-flex {
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  width: 100%;
}

.copyright-info {
  margin-top: auto;
  margin-bottom: auto;
  color: #666666;
  font-size: 12px;
}

.copyright-section-template-info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  color: #666666;
  font-size: 12px;
}
